@page
@model Eduhunt.Areas.Identity.Pages.ConfirmRegistrationModel
@{
    ViewData["Title"] = "Confirm Registration";
}

<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #BEE9F2;">
    <div class="d-flex h-100 w-75">
        <!-- Left Image Section -->
        <div class="w-50 me-4 rounded-3"
             style="background-image: url('/images/schoolGirl.png'); background-size: cover; background-repeat: no-repeat;">
        </div>

        <!-- Right Form Section -->
        <div class="w-50 d-flex align-items-center rounded-3 bg-white">
            <div class="container p-4">
                <div class="mx-auto" style="width: 80%;">
                    <h1 class="h4 font-weight-bold mb-4 text-center">Confirm Registration</h1>
                    <form method="post">
                        <!-- Email Field -->
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input asp-for="Emailuser" class="form-control" readonly />
                            <span asp-validation-for="Emailuser" class="text-danger"></span>
                        </div>

                        <!-- Confirmation Code Field -->
                        <div class="mb-3">
                            <label class="form-label">Code</label>
                            <input asp-for="ConfirmationCode" class="form-control" />
                            <span asp-validation-for="ConfirmationCode" class="text-danger"></span>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary w-100">
                            Confirm
                        </button>

                    </form>
                    @* @if (ViewData.ModelState.ErrorCount > 0)
                    {
                        <div class="alert alert-danger mt-3 text-center" role="alert">
                            @ViewData.ModelState[string.Empty].Errors[0].ErrorMessage
                        </div>
                    } *@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
