@page
@model AboutUsModel
@{
}
<style>
    .equal-img {
      height: 400px;
      /* Cố định chiều cao */
      width: 100%;
      /* Cố định chiều rộng */
      object-fit: cover;
      /* Đảm bảo ảnh được cắt gọn để vừa với kích thước */
    }

    .square-img {
      width: 500px;
      /* Chiều rộng cố định */
      height: 500px;
      /* Chiều cao cố định, bằng chiều rộng */
      object-fit: cover;
      /* Đảm bảo ảnh lấp đầy vùng chứa và giữ tỷ lệ */
    }
</style>


    <div class="mx-auto bg-white" style="padding: 100px">
        <h2 class="text-dark fw-bold" style="font-size: 60px">
            Scholarships: <br />
            Your key to knowledge!
        </h2>
    </div>

    <section class="row bg-warning" style="padding-top: 100px">
        <div class="row">
            <div class="col text-center">
                <h3 style="
              font-size: 50px;
              padding-left: 150px;
              text-align: left;
              color: #fff;
            ">
                    Unlock Your Academic Potential:<br />
                    Explore Our
                </h3>
                <p class="text-break w-1" style="font-size: 30px; padding-left: 150px; text-align: left">
                    At our scholarship and mentorship platform, we believe in empowering
                    individuals to achieve their academic dreams. Whether you're seeking
                    financial assistance or valuable guidance
                </p>
            </div>

            <div class="col col-lg-6 d-flex justify-content-center">
                <img src="https://iqra.edu.pk/wp-content/uploads/2024/03/home-page-girl.png" class="rounded float-start"
                     style="width: 50%" alt="..." />
            </div>
        </div>
    </section>

    <section class="row justify-content-md-center align-items-center bg-dark text-white">
        <div class="container text-center">
            <div class="row">
                <div class="fs-1 py-5">MEDIA EFFECTIVENESS</div>
            </div>

            <div class="row pb-5">
                <div class="col">
                    <div class="fs-1 py-2 text-primary">39.700+</div>
                    <p>Lượt tiếp cận</p>
                </div>
                <div class="col">
                    <div class="fs-1 py-2 text-primary">5.100+</div>
                    <p>Lượt tiếp cận</p>
                </div>
                <div class="col">
                    <div class="fs-1 py-2 text-primary">5.300+</div>
                    <p>Lượt tiếp cận</p>
                </div>
                <div class="col">
                    <div class="fs-1 py-2 text-primary">5.700+</div>
                    <p>Lượt tiếp cận</p>
                </div>
            </div>
        </div>
    </section>

    <section class="row justify-content-md-center bg-white text-white">
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col-6 text-dark">
                    <h3 style="
                font-size: 50px;
                padding-left: 150px;
                text-align: left;
                color: #000;
              ">
                        The Power of Mentorship: Guiding
                    </h3>
                    <p style="font-size: 30px; padding-left: 150px; text-align: right">
                        Our mentorship program pairs you with experienced professionals
                        who are passionate <br />
                        Unlock new opportunities and take your future to the next level
                        with our transformative mentorship
                    </p>
                </div>
                <div class="col-6">
                    <div class="row py-4 px-3">
                        <img class="img-fluid equal-img rounded-5"
                             src="https://immigrantsrising.org/wp-content/uploads/Thumbnail_List-of-Scholarships-and-Fellowships.png"
                             alt="" />
                    </div>
                    <div class="row pb-4 px-3">
                        <img class="img-fluid equal-img rounded-5"
                             src="https://www.smarterselect.com/hs-fs/hubfs/Blog/The-Importance-Of-Corporate-Scholarships-In-Supporting-Education.jpg?width=800&upsize=true&name=The-Importance-Of-Corporate-Scholarships-In-Supporting-Education.jpg"
                             alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5 py-4">
        <div class="row align-items-center">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <img class="square-img img-fluid rounded-5"
                     src="https://www.smarterselect.com/hs-fs/hubfs/Blog/The-Importance-Of-Corporate-Scholarships-In-Supporting-Education.jpg?width=800&upsize=true&name=The-Importance-Of-Corporate-Scholarships-In-Supporting-Education.jpg"
                     alt="" />
            </div>
            <div class="col-6">
                <h3 style="
              font-size: 50px;

              text-align: left;
              color: #000;
            ">
                    The Power of Mentorship: Guiding
                </h3>
                <p style="font-size: 30px; text-align: left">
                    Our mentorship program pairs you with experienced professionals who
                    are passionate <br />
                    Unlock new opportunities and take your future to the next level with
                    our transformative mentorship
                </p>
            </div>
        </div>
    </section>
    <section class="text-dark py-5 mx-auto" style="background-color: #f3f8f9">
        <div class="text-center my-5 pt-5">
            <h1 class="fw-bold" style="font-size: 60px">
                Register &<br />
                get the newest scholarships
            </h1>
            <p style="font-size: 30px">
                At the moment of registration, you accept to be a member of EDU HUNT,
                you will receive news and valuable information
            </p>
            <button class="rounded-5 p-3 text-white bg-dark fs-4">Register now</button>
        </div>
    </section>
