@page
@model AboutUsModel
@{
}

<div class="container-fluid px-0">
    <div class="container">
        <div class="row bg-white py-5">
            <div class="col-12 text-center">
                <h2 class="display-2 fw-bold text-dark">
                    Scholarships: <br />
                    Your key to knowledge!
                </h2>
            </div>
        </div>
    </div>

    <div class="bg-warning py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-white">
                    <h3 class="display-4 mb-4">
                        Unlock Your Academic Potential:<br />
                        Explore Our
                    </h3>
                    <p class="lead">
                        At our scholarship and mentorship platform, we believe in empowering
                        individuals to achieve their academic dreams. Whether you're seeking
                        financial assistance or valuable guidance
                    </p>
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img src="https://iqra.edu.pk/wp-content/uploads/2024/03/home-page-girl.png" class="img-fluid rounded" alt="Student" style="max-width: 50%;" />
                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark text-white py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2 class="display-4 mb-5">MEDIA EFFECTIVENESS</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 mb-4">
                    <div class="display-4 text-primary">39,700+</div>
                    <p>Lượt tiếp cận</p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="display-4 text-primary">5,100+</div>
                    <p>Lượt tiếp cận</p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="display-4 text-primary">5,300+</div>
                    <p>Lượt tiếp cận</p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="display-4 text-primary">5,700+</div>
                    <p>Lượt tiếp cận</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 text-dark">
                    <h3 class="display-4 mb-4">
                        The Power of Mentorship: Guiding
                    </h3>
                    <p class="lead">
                        Our mentorship program pairs you with experienced professionals
                        who are passionate. Unlock new opportunities and take your future to the next level
                        with our transformative mentorship.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <img class="img-fluid rounded" src="https://immigrantsrising.org/wp-content/uploads/Thumbnail_List-of-Scholarships-and-Fellowships.png" alt="Scholarships" />
                        </div>
                        <div class="col-12">
                            <img class="img-fluid rounded" src="https://www.smarterselect.com/hs-fs/hubfs/Blog/The-Importance-Of-Corporate-Scholarships-In-Supporting-Education.jpg?width=800&upsize=true&name=The-Importance-Of-Corporate-Scholarships-In-Supporting-Education.jpg" alt="Corporate Scholarships" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <img class="img-fluid rounded" src="https://www.smarterselect.com/hs-fs/hubfs/Blog/The-Importance-Of-Corporate-Scholarships-In-Supporting-Education.jpg?width=800&upsize=true&name=The-Importance-Of-Corporate-Scholarships-In-Supporting-Education.jpg" alt="Corporate Scholarships" />
                </div>
                <div class="col-lg-6">
                    <h3 class="display-4 mb-4">
                        The Power of Mentorship: Guiding
                    </h3>
                    <p class="lead">
                        Our mentorship program pairs you with experienced professionals who
                        are passionate. Unlock new opportunities and take your future to the next level with
                        our transformative mentorship.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light py-5">
        <div class="container text-center">
            <h1 class="display-3 fw-bold mb-4">
                Register &<br />
                get the newest scholarships
            </h1>
            <p class="lead mb-5">
                At the moment of registration, you accept to be a member of EDU HUNT,
                you will receive news and valuable information
            </p>
            <button class="btn btn-dark btn-lg rounded-pill px-5 py-3">Register now</button>
        </div>
    </div>
</div>