@page
@model Eduhunt.Pages.Identity.Pages.LoginModel

<h2>Login</h2>

<form method="post">
    <div>
        <label asp-for="Email">Email</label> <!-- Updated to Email -->
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit">LOGIN</button>
</form>

@if (ViewData.ModelState.ErrorCount > 0)
{
    <p style="color:red;">@ViewData.ModelState[string.Empty].Errors[0].ErrorMessage</p>
}
